@model Ecommerce_MVC.Models.Login

@{
    ViewData["Title"] = "Login";
}
<head>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body>
    <div class="login-page">
        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h3 style="text-align:center">LOGIN</h3>
                    <p>Please enter your credentials to login.</p>
                </div>
            </div>
            <form asp-action="Login">
                <div class="form-group">
                    <label asp-for="Username" class="control-label">Username</label>
                    <input asp-for="Username" required class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pwd" class="control-label">Password</label>
                    <input asp-for="Pwd" type="password" required class="form-control" />
                    <span asp-validation-for="Pwd" class="text-danger"></span>
                </div>
                @{
                    if (ViewBag.ErrorMessage != null)
                    {
                        <p style="color:red">@ViewBag.ErrorMessage</p>
                    }
                }
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
                <center style="padding-bottom:10px">New to E-Shop? <a style="text-decoration:none" asp-controller="Customer" asp-action="Create">Sign Up</a></center>
                <center style="color:dimgray;font-size:13px;"> <a style="text-decoration:none;color:dimgray;" asp-controller="Admin" asp-action="Login">Are you the Admin? Click here to login</a></center>

                
            </form>
        </div>
    </div>
</body>


@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
