@model Ecommerce_MVC.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Order Inventory</h1>

<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="Invoice" class="control-label">Invoice</label>
                <input readonly asp-for="Invoice" class="form-control" />
                <span asp-validation-for="Invoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PendingStatus" class="control-label">Pending Status</label>
                <select style="appearance:menulist" asp-for="PendingStatus" class="form-control">
                    <option>True</option>
                    <option>False</option>
                </select>
                <span asp-validation-for="PendingStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillAmmount" class="control-label">Bill Amount</label>
                <input readonly asp-for="BillAmmount" class="form-control" />
                <span asp-validation-for="BillAmmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustId" class="control-label">Customer ID</label>
@*                <select readonly asp-for="CustId" class="form-control" asp-items="ViewBag.CustId"></select>*@
                <input readonly asp-for="CustId" class="form-control" />

              <span asp-validation-for="CustId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfOrder" class="control-label">Date Of Order</label>
                <input readonly asp-for="DateOfOrder" class="form-control" />
                <span asp-validation-for="DateOfOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
