@{
    <center>
        <h3>Woohoo!</h3>
        <div>
            <video autoplay width="300px" height="400px" src="~/images/ezgif-2-66ddd4dd45.mp4"></video>

            <div>
                <button><a style="color:black;text-decoration:none" asp-controller="Home" asp-action="DisplayList">Continue Shopping</a></button>
            </div>
        </div>
    </center>
}
