@{
    <body style="opacity:50;height:700px;padding-bottom:350px;">
        <div class="login-page">
            <div class="form">
                <div class="login">
                    <div style="text-align:center" class="login-header">
                        <h4>Signed Up successfully !!!</h4>
                        <a asp-action="Login" asp-controller="Login">Click here to login</a>
                    </div>
                </div>

            </div>
        </div>
    </body>
}